<a href="https://colab.research.google.com/github/MarcJKolb/USDistrictEducationAnalysis/blob/main/Data_Analysis_by_District.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np

In [50]:
us_state_to_abbrev = {
"Alabama": "AL",
"Alaska": "AK",
"Arizona": "AZ",
"Arkansas": "AR",
"California": "CA",
"Colorado": "CO",
"Connecticut": "CT",
"Delaware": "DE",
"Florida": "FL",
"Georgia": "GA",
"Hawaii": "HI",
"Idaho": "ID",
"Illinois": "IL",
"Indiana": "IN",
"Iowa": "IA",
"Kansas": "KS",
"Kentucky": "KY",
"Louisiana": "LA",
"Maine": "ME",
"Maryland": "MD",
"Massachusetts": "MA",
"Michigan": "MI",
"Minnesota": "MN",
"Mississippi": "MS",
"Missouri": "MO",
"Montana": "MT",
"Nebraska": "NE",
"Nevada": "NV",
"New Hampshire": "NH",
"New Jersey": "NJ",
"New Mexico": "NM",
"New York": "NY",
"North Carolina": "NC",
"North Dakota": "ND",
"Ohio": "OH",
"Oklahoma": "OK",
"Oregon": "OR",
"Pennsylvania": "PA",
"Rhode Island": "RI",
"South Carolina": "SC",
"South Dakota": "SD",
"Tennessee": "TN",
"Texas": "TX",
"Utah": "UT",
"Vermont": "VT",
"Virginia": "VA",
"Washington": "WA",
"West Virginia": "WV",
"Wisconsin": "WI",
"Wyoming": "WY",
"District of Columbia": "DC",
"American Samoa": "AS",
"Guam": "GU",
"Northern Mariana Islands": "MP",
"Puerto Rico": "PR",
"United States Minor Outlying Islands": "UM",
"U.S. Virgin Islands": "VI",
}

## The following data is sourced from the US Department of Education.

Documentation is available:

https://www2.ed.gov/about/inits/ed/edfacts/data-files/assessments-sy2018-19-public-file-documentation.docx

In [57]:
math_achieve = pd.read_csv("Data/math_achieve.csv")
math_achieve['STNAM'] = math_achieve['STNAM'].str.capitalize().map(us_state_to_abbrev)
math_achieve.set_index(['STNAM', 'LEANM'], inplace=True)
read_achieve = pd.read_csv("Data/read_achieve.csv")
read_achieve['STNAM'] = read_achieve['STNAM'].str.capitalize().map(us_state_to_abbrev)
read_achieve.set_index(['STNAM', 'LEANM'], inplace=True)
grad_rate = pd.read_csv("Data/grad_rate.csv")
grad_rate['STNAM'] = grad_rate['STNAM'].str.capitalize().map(us_state_to_abbrev)
grad_rate.set_index(['STNAM', 'LEANM'], inplace=True)
math_part = pd.read_csv("Data/math_part.csv")
math_part['STNAM'] = math_part['STNAM'].str.capitalize().map(us_state_to_abbrev)
math_part.set_index(['STNAM', 'LEANM'], inplace=True)
read_part = pd.read_csv("Data/read_part.csv")
read_part['STNAM'] = read_part['STNAM'].str.capitalize().map(us_state_to_abbrev)
read_part.set_index(['STNAM', 'LEANM'], inplace=True)

SyntaxError: invalid syntax (819469379.py, line 3)

## Cleaning the Data for Relevant Features

In [52]:
## math_achieve
math_achieve = math_achieve[['ALL_MTH00numvalid_1819', 'ALL_MTH00pctprof_1819', 'ECD_MTH00numvalid_1819', 'ECD_MTH00pctprof_1819']]
math_achieve.columns = ['Math Sum Total', 'Math Sum Pct Prof', 'Math ECD Total', 'Math ECD Pct Prof']
math_achieve['Math Sum Total'] = pd.to_numeric((math_achieve['Math Sum Total']), errors='coerce')
math_achieve['Math ECD Total'] = pd.to_numeric((math_achieve['Math ECD Total']), errors='coerce')
math_achieve['Math Pct ECD'] = math_achieve['Math ECD Total'] / math_achieve['Math Sum Total'] * 100
math_achieve['Math Pct ECD'] = math_achieve['Math Pct ECD'].round(0)

In [53]:
## read_achieve
read_achieve = read_achieve[['ALL_RLA00numvalid_1819', 'ALL_RLA00pctprof_1819', 'ECD_RLA00numvalid_1819', 'ECD_RLA00pctprof_1819']]
read_achieve.columns = ['Read Sum Total', 'Read Sum Pct Prof', 'Read ECD Total', 'Read ECD Pct Prof']
read_achieve['Read Sum Total'] = pd.to_numeric((read_achieve['Read Sum Total']), errors='coerce')
read_achieve['Read ECD Total'] = pd.to_numeric((read_achieve['Read ECD Total']), errors='coerce')
read_achieve['Read Pct ECD'] = read_achieve['Read ECD Total'] / read_achieve['Read Sum Total'] * 100
read_achieve['Read Pct ECD'] = read_achieve['Read Pct ECD'].round(0)

In [54]:
## combining achieve data
achievement = pd.merge(math_achieve, read_achieve, how='outer', on=['STNAM', 'LEANM'])

## Combining Dataframes into a Singular Dataframe

In [55]:
'''
achievement = pd.merge(math_achieve, math_part, how='outer', on=['STNAM', 'LEANM'])
achievement = pd.merge(achievement, read_achieve, how='outer', on=['STNAM', 'LEANM'])
achievement = pd.merge(achievement, read_part, how='outer', on=['STNAM', 'LEANM'])
achievement = pd.merge(achievement, grad_rate, how='outer', on=['STNAM', 'LEANM'])
achievement.to_csv("Data/achievement.csv")
achievement.info
'''

'\nachievement = pd.merge(math_achieve, math_part, how=\'outer\', on=[\'STNAM\', \'LEANM\'])\nachievement = pd.merge(achievement, read_achieve, how=\'outer\', on=[\'STNAM\', \'LEANM\'])\nachievement = pd.merge(achievement, read_part, how=\'outer\', on=[\'STNAM\', \'LEANM\'])\nachievement = pd.merge(achievement, grad_rate, how=\'outer\', on=[\'STNAM\', \'LEANM\'])\nachievement.to_csv("Data/achievement.csv")\nachievement.info\n'

## SAIPE School District Estimates for 2020

Documentation is available:

https://www2.census.gov/programs-surveys/saipe/technical-documentation/file-layouts/school-district/2020-district-layout.txt

In [56]:
poverty_df = pd.read_csv("Data/poverty.csv")
poverty_df.columns = ['STNAM', 'FIPS', 'DID', 'LEANM', 'TotPop', 'KidPop', 'ChildPov']
poverty_df.set_index(['STNAM', 'LEANM'], inplace=True)
poverty_df = poverty_df[['TotPop', 'KidPop', 'ChildPov']]
poverty_df.head()
#achievement = pd.merge(achievement, poverty_df, how='outer', on=['STNAM', 'LEANM'])
#achievement.to_csv("Data/achievement.csv")

                                           TotPop KidPop ChildPov
STNAM LEANM
AL    Alabaster City School District       35,268  6,797      669
      Albertville City School District     22,120  4,163      918
      Alexander City City School District  16,819  2,579      700
      Andalusia City School District        8,818  1,471      346
      Anniston City School District        22,017  3,053      735